[package]
name = "Nullspace"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { version = "1", features = ["full"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
anyhow = "1.0"
bytes = "1"
async-trait = "0.1.89"
uuid = { version = "1.10", features = ["v4"] }